	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="fa fa-trash"></i>
				</div>
				<h4 class="modal-title">Esta seguro que desea eliminar <span id="cant"></span> de forma permanente ?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">

				<form action="">	</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
				<button id="eliminar-modal" type="button" class="btn btn-danger" onclick="eliminar({{ object.pk }});">Eliminar</button>
            </form>		
			</div>
		</div>
</div>


