<!-- template: tabla_movimiento.html -->
<div class="row" id="tabla_aumentos_modulo">
    <div class="col-md-12">
        <div class="box box-default">
            <div style="padding: 10px;">
                <table id="tabla_aumento_modulo" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th />
                            <th />
                            <th>Cargo</th>
                            <th> Básico </th>
                            <th> Suple1 </th>
                            <th> Suple2 </th>
                            <th> SumaFij1 </th>
                            <th> SumaFij2 </th>
                            <th> SumaFij3 </th>
                        </tr>
                    </thead>
                    <tbody id="aumentos">
                    </tbody>
                </table>
            </div>


            <!-- Loading-->
            <div class="overlay" id="spin-cargos-aumentos" style="display:none;">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
            <!-- end loading -->
        </div>
    </div>
</div>