{% extends 'marco.html' %}
{% load widget_tweaks %}

{% block title %}
<title>Proyecto</title>
{% endblock %}

{% block css_mas %}
{% endblock %}

{% block marco %}
<!-- template: detalle_proyecto.html -->
<section class="content-header">
    <h1>
        Proyecto
        <small>Delete</small>
    </h1>
</section>

<section class="content">
    {% include "blocks/messages.html" %}
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title">Eliminar Proyecto <strong>#{{ proyecto.id }}</strong></h3>
            <div class="pull-right box-tools">
                <a href="{% url 'proyecto-detail' proyecto.id %}" class="btn btn-sm btn-info">Ver</a>
                <a href="{% url 'proyecto-list' %}" class="btn btn-sm btn-primary">Ver todas</a>
            </div>
        </div>
        <form method="POST">
            {% csrf_token%}
            <div class="box-body">
                <div class="alert alert-warning" role="alert">
                    Estas seguro que quieres eliminar la proyecto <strong>{{ proyecto.nombre }}</strong> ?
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a href="{% url 'proyecto-list' %}" class="btn btn-primary pull-right">Volver</a>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block js_mas %}
{% endblock %}